# This gitignore contains all those data files, which are not kept on the repo
# and thus have to be downloaded automatically or manually (in case registration
# or journal access is needed)

# The temporary download folder:
tmp/

# the actual download folder:
download/


################
#  PPIs
#################

# Bossi & Lehner PPI file
#    can be easily downloaded, thus no need to mirror this huge file on repo
ppis/CRG.integrated.human.interactome.txt

# Dana Farber CCSB Human Interactome HI-2012-PRE
#    these are preliminary results and can only be downloaded when
#    registered without permission to distribute (so mirroring on repo)
ppis/HI_2012_PRE.tsv

# string-db
ppis/protein.links*

# PSICQUIC
ppis/PSICQUIC_*

########################
# expression data sets 
########################
# ignore downloadable expression data sets:

# EBI hosted RNAseq Illumina Body Map data
expr/E-MTAB-513.tsv

# GeneAtlas (Su Al et al. 2009) and it's annotation table
expr/U133AGNF1B.gcrma.avg.csv
expr/gnf1h.annot2007.tsv
expr/GPL96-15653.txt

# downloadable HPA data
expr/normal_tissue.csv
expr/subcellular_location.csv

# RNA Seq Atlas data
expr/RNA_Seq_Atlas_rev1.txt


###########################
#  GO terms associations  #
###########################

go/gene_association.goa_ref_human
go/gene_ontology.1_2.obo
go/simrel_scoring.npy
go/score_mapping.json
go/bp_scoring.npy
go/gene_bpscore_mapping.json
